body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.gameboard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 4vmin);
    grid-template-rows: repeat(10, 4vmin);
    gap: .4vmin;
    padding: 1vmin;
    background-color: #CCC;
    border-radius: 2%;
}

.cell {
    background-color: #AAA;
    border-radius: 10%;
}

.cell:hover {
    background-color: #777;
}